/*
.event-container {
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 640px;
    background: $dark-red;
    margin-top: 150px;
    border-radius: 20px;
}

.event-head {
    position: relative;
    display: flex;
    flex-flow:row;
    margin:0px auto;
    width:90%;
    height:15%;
    background-color:$dark-red;
    
    h3 {
        letter-spacing:0.5px;
        font-size:2rem;
        margin:auto;
    }
}

.event-body {
    display:flex;
    flex-direction:row;
    margin:0px auto;
    
    width:95%;
    height: 85%;
    background: $dark-red;
    border-radius: 10%;
}

.event-image {
    display:flex;
    align-items:center;
    justify-content:center;
    width:40%;
    height:100%;
    background-color:$dark-red;
    
    img {
        width:90%;
        height: 90%;
        overflow:hidden;
        border-radius:10px;
    }
}

.event-text {
    padding-top:20px;
    width:60%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: $dark-red;
    margin:0px auto;
    h2{
        margin:15px auto;
        letter-spacing:0px;
        text-align:center;
    }
    p {
        width:90%;
        text-align:justify;
    }
}
*/


.event-heading {
    width:100%;
    height:60px;
    background:white;
    margin-top:120px;
    text-align:center;
}
.event-container {
    display:grid;
    height: 640px;
    width: 100%;
    grid-template-areas:
    'title title'
    'intro intro'
    'speaker1 speaker2'
    'details details';
    background: $dark-red;
    border-radius: 20px;
    margin:0px auto;
    margin-top:30px;
    padding-top:25px;
}

.event-container > div {
  padding:10px 15px;
}

.event-head {
    grid-area:title;
    text-align:center;    
    letter-spacing: 0px;
}

.event-intro {
grid-area:intro;
text-align:center;
}

.event-speaker1 {
    grid-area:speaker1;
    background-color:$dark-grey;
    align-content:center;
    img {
        width:25%;
        float:left;
        padding-right:10px;
    }
}

.event-speaker2 {
    grid-area:speaker2;
    background-color:grey;
    img {
        width:25%;
        float:left;
        padding-right:10px;
    }
}

.event-details {
    grid-area:details;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .event-heading {
        width:100%;
        height:60px;
        background:white;
        margin-top:100px;
        text-align:center;
    }
    .event-container {
        display:grid;
        height: 950px;
        width: 100%;
        grid-template-areas:
        'title'
        'intro'
        'speaker1'
        'speaker2'
        'details';
        background: $dark-red;
        border-radius: 20px;
        margin:0px auto;
        margin-top:30px;
        padding-top:25px;
    }
    
    .event-container > div {
      padding:10px 15px;
    }
    
    .event-head {
        grid-area:title;
        text-align:center;    
        letter-spacing: 0px;
    }
    
    .event-intro {
    grid-area:intro;
    text-align:center;
    }
    
    .event-speaker1 {
        grid-area:speaker1;
        background-color:$dark-grey;
        align-content:center;
        img {
            width:25%;
            float:left;
            padding-right:10px;
        }       
    }
    .name {
        padding-top:10px;
    }
    .awards {
        text-align: justify;
        padding-top:20px;
    }
    
    .event-speaker2 {
        grid-area:speaker2;
        background-color:grey;
        img {
            width:25%;
            float:right;
            padding-left:10px;
        }
    }
    
    .event-details {
        grid-area:details;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    .event-heading {
        height:fit-content;
        margin-top:80px;
    }
    
    .event-container {
        grid-template-areas: 
        'title'
        'intro'
        'speaker1'
        'speaker2'
        'details';
        height: 990px;
        padding-top:20px;
        margin-top:30px;
    }
    .event-container > .event-speaker1, .event-speaker2 {
        padding:15px;     
    }
    .event-head{
        grid-area:title;
    }
    .event-intro {
        grid-area:intro;
    }
    .name {
        padding-top:10px;
    }
    .awards {
        text-align: justify;
        padding-top:10px;
    }
    .event-speaker1{
        grid-area:speaker1;
    }
    .event-speaker2 {
     grid-area:speaker2;   
        img {
            width:25%;
            float:right;
            padding-left:10px;
        }
    }
    .event-details {
        grid-area:details;
    }
  }